<h1>Edit Products</h1>

<form action="/edit/product" method="POST" class="form">
     <div>
        <label for="id">Select the product Id</label>
        <input type="number" name="id" id="id">
    </div>
     <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
     <div>
        <label for="stock">Stock</label>
        <input type="number" name="stock" id="stock">
    </div>
     <div>
        <label for="price">Price</label>
        <input type="number" name="price" id="stock">
    </div>
     <div>
        <label for="category">Category</label>
        <input type="text" name="category" id="category">
    </div>
    <input type="submit" value="Edit Product">
</form>